.column-container {
    /* padding: .25rem; */
}

.header-container {
    padding: 0 .5rem;
    /* width: 14.5rem; */
}

.header {
    font-size: .75rem;

}

.header-icon {
    margin-right: .5rem;
    height: .9rem;
}

.add {
    margin-right: .5rem;
    height: 1rem;
}

.three-dot {
    height: 1rem;
}

