

/* card-component styles */

.card-container {
    height: 5.25rem;
    font-size: .75rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 10px;
    padding: .25rem;
    background-color: white;
}


.first-row {
    /* border: 1px solid black; */
    height: 1rem;
    padding: .25rem;
}

.second-row {
    padding: .25rem;
    font-size: .8rem;
}

.status-icon-div {
    margin-right: .5rem;
}


.title-div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.third-row {
    padding: .25rem;
}

.priority-icon {
    margin-right: .5rem;
    border: 1px solid cyan;
    border-radius: 5px;
    height: 1rem;
    width: 1.25rem;
    padding-right:.1rem;
}

.priority-icon img {
    height: .85rem;
}



.tag {
    appearance: none;
    border: 1px solid cyan;
    border-radius: 5px;
    padding-right: 5px;
    height: 1rem;
    color: grey;
    font-weight: 500;
}

.feature-dot {
    font-size: 1rem;
}


/* User component Style */


.user-container {
    height: 1.5rem;
    width: 2rem;
    font-size: 1.5rem;
    /* overflow: hidden; */
    box-sizing: border-box;

}

.badge-icon {
    height: .5rem;
    width: .5rem;
    border: 1.5px solid rgb(241, 241, 247);;
    border-radius: 50%;
    transform: translate(16px, -17px);
    display: block;

}




.active {
    background-color: orange;
}

.in-active {
    background-color: silver;
}
