.container {
    transition: .5s;
    width: 100%;
}

.header-section {
    padding: .75rem;
    background-color: white;
    
}

.main-section {
    padding: .5rem;
    background-color: rgb(241, 241, 247);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(14rem, 1fr));
    justify-content: center ;
}