.container {
    transition: .5s;
    width: 100%;
}

.header-section {
    padding: 1rem;
    background-color: white;
    width: 100%;
}

.main-section {
    padding: .5rem;
    background-color: rgb(241, 241, 247);
    width: 100%;
}