

.display-container{
    width: 5rem;
    padding: .25rem 1rem;
    border-radius: .3rem;
    box-shadow: 0 .125rem 0.3rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.filter-div {
    margin-right: .5rem;
}

.filter-logo {
    height: 1rem;
}


.down-arrow {
    height: 1.3rem;
}


/* Filter components styling */



.filter-container {
    width: 15rem;
    box-shadow: 0 .125rem .3rem rgba(0, 0, 0, 0.5);
    padding: .25rem;
    border-radius: .3rem;
    font-size: .95rem;
    background-color: whitesmoke;
    margin-top: .3rem;
    position: fixed;
    z-index: 1;
}

.grouping-div {
    padding: .5rem;
}

.ordering-div {
    padding: .5rem;
}

/* select {
    border: 1px solid cyan;
    border-radius: .3rem;
    padding: .15rem;
    width: 5.5rem;
    background-color: white;
} */

/* select option[value="Status"] {
    border: 1px solid blue;
    border-radius: .3rem;
    padding: .15rem;
    width: 5.5rem;
    background-color: white;
} */




